<div class="navbar navbar-default navbar-fixed-top hidden-xs hidden-sm" role="navigation">
  <div class="container">

    <div class="navbar-header">
      {{#link-to 'index' class="navbar-brand"}}Bibliaolvasó{{/link-to}}
    </div>

    <ul class="nav navbar-nav">
      <li>
        <button {{action "previousChapter"}} {{bind-attr disabled="noPreviousChapter"}} id="prev-chapter" class="btn btn-link pager-link">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </button>
      </li>
      <li>
        <div class="navbar-form">
          <div class="form-group">
            {{input type="text" value=abbr class="form-control" action="query" role="search"}}
          </div>
        </div>
      </li>
      <li>
        <button {{action "nextChapter"}} {{bind-attr disabled="noNextChapter"}} id="next-chapter" class="btn btn-link pager-link">
          <span class="glyphicon glyphicon-chevron-right"></span>
        </button>
      </li>
      <li class="dropdown">
        {{view Ember.Select
               content=translations
               optionValuePath="content.id"
               optionLabelPath="content.title"
               value=translation}}
      </li>
    </ul>

  </div>
</div>

<div class="mobile-nav visible-xs visible-sm">
  <button {{action "previousChapter"}} {{bind-attr disabled="noPreviousChapter"}} id="prev-chapter" class="btn btn-link pager-link">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </button>
  {{input type="text" value=abbr action="query" role="search"}}
  <button {{action "nextChapter"}} {{bind-attr disabled="noNextChapter"}} id="next-chapter" class="btn btn-link pager-link">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </button>
  {{view Ember.Select
         content=translations
         optionValuePath="content.id"
         optionLabelPath="content.title"
         value=translation}}
</div>

<div class="container">
  {{outlet}}
</div>

<footer class="container text-muted">
  <hr>
  <p>{{translationCopyright}}</p>
  <p>Bibliaolvasó © Bácsi László 2012-{{currentYear}}</p>
</footer>
